figcaption {
    text-align: center;
}

div {
    margin: 0px auto;
    display: flex;
    justify-content: center;
}

figure {
    display: flex;
    flex-direction: column;
    align-content: center;
    width: 30%;
    gap: 16px;
}

figcaption {
    font-size: 24px;
    font-weight: bold;
}